@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EBF3FF;
    transition: all 0.3s ease;
}

nav {
    margin: auto;
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6efff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
    z-index: 100;
}

nav.hide {
    top: -107.79px;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #141414;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #F3C16E;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FCA311;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #F3C16E;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #C1CFEB;
    z-index: -100;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #000;
    margin-bottom: 1rem;
    font-size: 64px;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
}

header h1 span {
    color: #F3C16E;
}

header p {
    font-size: 32px;
    font-weight: 350;
    color: #141414;
    margin-top: 12px;
    margin-bottom: 1.5rem;
    text-align: center;
}

section .header {
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #1f1f1f;
}

.about {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.about .card {
    padding: 3rem 2rem;
    background-color: #DEE7F7;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.about .card:hover {
    background-color: #D1DBF0;
    border-color: #FCA311;
}

.about .card .content {
    flex: 1;
    position: relative;
    align-items: center;
}

.about .card h4 {
    margin-bottom: 1rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.about .card h3 {
    color: #000;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px;
}

.skills {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.skills .card {
    background-color: #DEE7F7;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.skills .card:hover {
    background-color: #D1DBF0;
    border-color: #FCA311;
}

.skills .card span {
    display: inline-block;
    background-color: #F3C16E;
    padding: 2px 9px;
    padding-bottom: 0px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.skills .card h4 {
    margin-bottom: 0.5rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}

.skills .card p {
    color: #1f1f1f;
    margin-bottom: 1rem;
}

.achievements {
    margin-top: 4rem;

    table,
    th,
    td {
        border: 2.25px solid #141414;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 20px;
    }

    table {
        width: 100%;
        color: #000;
    }

    a {
        color: #FCA311;
        transition: color 0.3s ease;
        text-decoration: underline;
    }

    a:hover {
        color: #F1B555;
    }
}

.projects {
    margin-top: 4rem;

    table,
    th,
    td {
        border: 2.25px solid #141414;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 20px;
    }

    table {
        width: 100%;
        color: #000;
    }

    a {
        color: #FCA311;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #F1B555;
    }
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #DEE7F7;
    color: #000;
    border: 1.5px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 16px 17.67px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s ease;

}

.scroll-top:hover {
    background-color: #D1DBF0;
    border-color: #F3C16E;
    box-shadow: none;
}

.dark-light {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #DEE7F7;
    color: #000;
    border: 1.5px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 16px 17.67px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    opacity: 100;
    transition: all 0.3s ease;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.dark-light:hover {
    background-color: #D1DBF0;
    border-color: #F3C16E;
    box-shadow: none;
}

footer {
    position: relative;
    background-color: #e6efff;
    padding: 40px 50px 40px;
    margin-top: 100px;
    transition: all 0.3s ease;
}

footer .cols {
    display: flex;
}

footer .cols .about-col h3 {
    color: #F3C16E;
    margin-bottom: 10px;
}

footer .socials {
    margin-left: auto;
    margin-right: 50px;
}

footer .socials i {
    color: #141414;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .socials i:hover {
    color: #F3C16E;
}

.copyright {
    margin: auto;
    padding: 1rem;
    color: #707070;
    font-size: 0.8rem;
    text-align: center;
    background-color: #E3EDFF;
    transition: all 0.3s ease;
}

@media (width < 1100px) {
    .nav-links {
        display: none;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
    }
}