@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

[data-theme="dark"] {
    /* ========================== Dark Mode Colour Variables ========================== */

    --primary: #FF6E42;      /* Main colour. Must be darker than secondary. */
    --secondary: #FFB9A3;    /* Secondary colour. Must be lighter than primary. */
    --tertiary: #FF6E4280;     /* Selection colour. Primary colour at 50% opacity. */

    --background: #0A0A0A;    /* Body background. Must be a shade of black. */
    --btn-text: #383838;      /* Button text when hovered. Must be grey-ish. */
    --sub-text: #AAAAAA;      /* Body text that is not white. Must be light grey-ish. */

    --table-even: #171717;    /* Even row of table. This is the lighter row. */
    --table-odd: #121212;     /* Odd row of table. This is the darker row. */

    --nav-btn-shadow: #FFFFFF1A;    /* 10% opacity white shadow */
    --blur-shadow: #00000080;       /* 50% opacity black shadow */

    --text: #FFFFFF;    /* White for dark mode */
    --box-bg: #000000;    /* Black for dark mode */

    /* ================================================================================ */
}

[data-theme="light"] {
    /* ========================= Light Mode Colour Variables ========================= */

    --primary: #9E2500;      /* Main colour. Must be lighter than secondary. */
    --secondary: #6B1900;    /* Secondary colour. Must be darker than primary. */
    --tertiary: #9E250080;     /* Selection colour. Primary colour at 50% opacity. */

    --background: #F5F5F5;    /* Body background. Must be a shade of white. */
    --btn-text: #C7C7C7;      /* Button text when hovered. Must be grey-ish. */
    --sub-text: #555555;      /* Body text that is not black. Must be dark grey-ish. */

    --table-even: #e8e8e8;    /* Even row of table. This is the darker row. */
    --table-odd: #ededed;     /* Odd row of table. This is the lighter row. */

    --nav-btn-shadow: #0000001A;    /* 10% opacity black shadow */
    --blur-shadow: #FFFFFF80;       /* 50% opacity white shadow */

    --text: #000000;    /* Black for light mode */
    --box-bg: #FFFFFF;    /* White for light mode */

    /* =============================================================================== */
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

::selection {
    background-color: var(--tertiary);
    color: var(--text);
}

html {
    scroll-behavior: smooth !important;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    transition: all 0.3s ease;
}

nav {
    margin: auto;
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--box-bg);
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.8s ease-in-out, background-color 0.3s ease;
    z-index: 100;
    box-shadow: 0 2px 5px var(--nav-btn-shadow);
}

nav.hide {
    top: -108px;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--box-bg);
    background-color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--btn-text);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--blur-shadow);
    z-index: -100;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--text);
        margin-bottom: 1rem;
        font-size: 64px;
        font-weight: 600;
        line-height: 4rem;
        text-align: center;
        transition: all 0.3s ease;

        span {
            color: var(--primary);
            transition: all 0.3s ease;
        }
    }

    p {
        font-size: 32px;
        font-weight: 350;
        color: var(--sub-text);
        margin-top: 12px;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}

section .header {
    margin-bottom: 1rem;
    color: var(--text);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--sub-text);
}

.about {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .card {
        padding: 3rem 2rem;
        background-color: var(--box-bg);
        display: flex;
        flex-direction: column;
        border: 2px solid var(--btn-text);
        border-radius: 15px;
        transition: all 0.3s ease;

        .content {
            flex: 1;
            position: relative;
            align-items: center;
        }

        h4 {
            margin-bottom: 1rem;
            color: var(--sub-text);
            font-size: 1.2rem;
            font-weight: 500;
        }

        h3 {
            color: var(--text);
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: 600;
            border-bottom: 2px;
        }
    }

    .card:hover {
        background-color: var(--background);
        border-color: var(--primary);
    }
}

.skills {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card {
        background-color: var(--box-bg);
        padding: 1rem;
        border: 2px solid var(--btn-text);
        border-radius: 15px;
        transition: all 0.3s ease;

        span {
            display: inline-block;
            background-color: var(--primary);
            padding: 2px 9px;
            padding-bottom: 0px;
            margin-bottom: 1rem;
            font-size: 1.75rem;
            color: var(--box-bg);
            border-radius: 5px;

            path {
                fill: var(--box-bg);
            }
        }

        h4 {
            margin-bottom: 0.5rem;
            color: var(--text);
            font-size: 1.2rem;
            font-weight: 600;
        }

        p {
            color: var(--sub-text);
            margin-bottom: 1rem;
        }
    }

    .card:hover {
        background-color: var(--background);
        border-color: var(--primary);
    }
}

.tb1 {  /* Type 1 Table (with year) */
    margin-top: 4rem;

    table {
        width: 100%;
        color: var(--text);
        border-collapse: collapse;
    }

    th {
        background-color: var(--box-bg);
        color: var(--sub-text);
        padding: 20px;
        transition: all 0.3s ease;
    }

    th:first-child {
        text-align: left;
    }

    td {
        padding: 20px;
        position: relative;
        transition: all 0.3s ease;
    }

    tr:nth-child(even) {
        background-color: var(--table-even);
        transition: all 0.3s ease;
    }

    tr:nth-child(odd) {
        background-color: var(--table-odd);
        transition: all 0.3s ease;
    }

    a {
        color: var(--primary);
        transition: color 0.3s ease;
        text-decoration: underline;
    }

    a:hover {
        color: var(--secondary);
    }

    td[rowspan] {
        background-color: var(--box-bg);
        color: var(--sub-text);
    }

    .top-border {
        border-top: 2px solid var(--primary);
    }
}

.tb2 {  /* Type 2 Table (list) */
    margin-top: 4rem;
    transition: all 0.3s ease;

    table {
        width: 100%;
        color: var(--text);
        border-collapse: collapse;
    }

    th {
        background-color: var(--box-bg);
        color: var(--sub-text);
        padding: 20px;
        border-bottom: 2px solid var(--primary);
        transition: all 0.3s ease;
    }

    th:first-child {
        text-align: left;
    }

    td {
        padding: 20px;
        position: relative;
        transition: all 0.3s ease;
    }

    tr:nth-child(even) {
        background-color: var(--table-even);
        transition: all 0.3s ease;
    }

    tr:nth-child(odd) {
        background-color: var(--table-odd);
        transition: all 0.3s ease;
    }

    a {
        color: var(--primary);
        transition: color 0.3s ease;
        text-decoration: underline;
    }

    a:hover {
        color: var(--secondary);
    }
}

.contact {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    transition: all 0.3s ease;

    .card {
        background-color: var(--box-bg);
        padding: 1rem;
        border: 2px solid var(--btn-text);
        border-radius: 15px;
        transition: all 0.3s ease;

        span {
            display: inline-block;
            background-color: var(--primary);
            padding: 2px 9px;
            padding-bottom: 0px;
            margin-bottom: 1rem;
            font-size: 1.75rem;
            color: var(--box-bg);
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        span:hover {
            background-color: var(--secondary);
            color: var(--btn-text)
        }

        h4 {
            margin-bottom: 0.5rem;
            color: var(--text);
            font-size: 1.2rem;
            font-weight: 600;
            transition: all 0.3s ease;
        }

        p {
            color: var(--sub-text);
            margin-bottom: 1rem;
            transition: all 0.3s ease;
        }

        a {
            color: var(--primary);
            margin-bottom: 1rem;
            text-decoration: underline;
            transition: all 0.3s ease;
        }

        a:hover {
            color: var(--secondary);
            margin-bottom: 1rem;
            text-decoration: underline;
        }
    }
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: var(--box-bg);
    color: var(--text);
    border: 1.5px solid var(--btn-text);
    box-shadow: 0 5px 15px var(--shadow1);
    padding: 16px 17.67px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--btn-text);
    box-shadow: none;
}

.dark-light {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--box-bg);
    color: var(--text);
    border: 1.5px solid var(--btn-text);
    box-shadow: 0 5px 15px var(--shadow1);
    padding: 16px 17.67px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    opacity: 100;
    transition: all 0.3s ease;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.dark-light:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--btn-text);
    box-shadow: none;
}

footer {
    position: relative;
    background-color: var(--box-bg);
    padding: 40px 50px 40px;
    margin-top: 100px;
    transition: all 0.3s ease;

    .cols {
        display: flex;

        .about-col h3 {
            color: var(--primary);
            margin-bottom: 10px;
        }
    }

    .socials {
        margin-left: auto;
        margin-right: 50px;

        i {
            color: var(--text);
            font-size: 40px;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        i:hover {
            color: var(--primary);
        }
    }
}

.copyright {
    margin: auto;
    padding: 1rem;
    color: var(--btn-text);
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--box-bg);
    transition: all 0.3s ease;
}

@media (width < 1100px) {
    .nav-links {
        display: none;
    }

    .about {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        grid-template-columns: repeat(1, 1fr);
    }
}